#clock-container {
  /* margin-top: 23em; */
  text-transform: uppercase;
}

.clock-wrapper {
  flex-direction: column;
  gap: 1em;
  margin-bottom: 3em;
}

.greeting,
.time {
  gap: 0.5em;
}

.time {
  align-items: flex-end;
}

.details-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
  gap: 1em;
  padding: 0.1em 0.25em 0 1.5em;
  border: none;
  border-radius: 1.75em;
}
.arrow {
  width: 2rem;
  height: 2rem;
}
