.clock-container {
  margin-top: 7em;
  text-transform: uppercase;
}

.clock-wrapper {
  flex-direction: column;
  gap: 1em;
  margin-bottom: 3em;
}

.greeting,
.time {
  gap: 0.5em;
}

.greeting {
  align-items: center;
}

.time {
  align-items: flex-end;
}

.details-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
  gap: 1em;
  padding: 0.1em 0.25em 0 1.5em;
  border: none;
  border-radius: 1.75em;
  cursor: pointer;
}

.arrow {
  width: 2rem;
  height: 2rem;
  transform: rotate(0deg);
}

@media only screen and (min-width: 64em) {
  .clock-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 4em;
  }

  .clock-wrapper {
    margin: 0;
    gap: 0;
  }
}
