.details,
.details-timezone,
.details-year,
.details-weekday,
.details-week {
  display: flex;
}

.details-container {
  display: none;
  position: absolute;
  background-color: hsla(0, 0%, 100%, 0.75);
  backdrop-filter: blur(5px);
  color: var(--clr-primary-100);
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.dark {
  background-color: hsla(0, 0%, 0%, 0.75);
  backdrop-filter: blur(5px);
}
.dark .details h2,
.dark .details p {
  color: var(--clr-primary-100);
}

.details {
  flex-direction: column;
  padding: 2.5em 1.5em;
  gap: 1em;
}

ul.details li {
  justify-content: space-between;
  align-items: center;
}
.details h2,
.details p {
  color: var(--clr-primary-400);
}
.details h2 {
  font-size: 0.625rem;
  text-transform: uppercase;
  line-height: 1.75rem;
  letter-spacing: 0.125rem;
}

.details p {
  font-size: 1.25rem;
  font-weight: var(--fw-bold);
}

@media only screen and (min-width: 48em) {
  .details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'timezone week'
      'dayOfYear weekNum';
    gap: 2em;
    padding: 2em 3em;
  }
  .details-timezone,
  .details-year,
  .details-weekday,
  .details-week {
    flex-direction: column;
  }

  ul.details li {
    align-items: start;
  }

  .details h2 {
    font-size: 0.8175rem;
  }

  .details p {
    font-size: 2.5rem;
  }

  .details-timezone {
    grid-area: timezone;
  }

  .details-weekday {
    grid-area: weekNum;
  }

  .details-year {
    grid-area: dayOfYear;
  }

  .details-weekday {
    grid-area: week;
  }
}

@media only screen and (min-width: 62em) {
  .details {
    gap: 2em;
    padding: 4em 9em;
  }
}
