.quote-container {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  max-width: 35em;
  gap: 0.5em;
}

.quote {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.refresh-btn {
  background-color: transparent;
  border: none;
  width: 1rem;
  height: 1rem;
}
